.home .footer {
    display: flex;
    flex-direction: column;
  }
  .home .flex_col4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
    margin: 0px auto 18px;
    width: 77.78%;
  }
  .home .footer_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #121212;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.247);
  }
  .home .footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin: 26px auto 25px;
    width: 87.32%;
  }
  .home .footer_item {
    font: 700 22.1384429932px/1.26 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #f2f2f2;
    text-decoration: none;
  }
  .home .footer_item:hover{
    color: #ff4242;
  }
  .home .subtitle {
    font: 700 22.1384429932px/1.26 "Plus Jakarta Sans", Helvetica, Arial, serif;
    color: #121212;
  }
  